SmartBugTracker-win32-x64/**/*.pak filter=lfs diff=lfs merge=lfs -text
SmartBugTracker-win32-x64/**/*.exe filter=lfs diff=lfs merge=lfs -text
SmartBugTracker-win32-x64/resources/app.asar filter=lfs diff=lfs merge=lfs -text
